  macro_quotes: macro_quotes {
    compatible = "zmk,behavior-macro";
    label = "macro_quotes";
    #binding-cells = <0>;
    bindings = <&kp SQT>, <&kp SQT>, <&kp LEFT>;
  };
  macro_dquotes: macro_dquotes {
    compatible = "zmk,behavior-macro";
    label = "macro_dquotes";
    #binding-cells = <0>;
    bindings = <&kp DQT>, <&kp DQT>, <&kp LEFT>;
  };
  macro_braces: macro_braces {
    compatible = "zmk,behavior-macro";
    label = "macro_braces";
    #binding-cells = <0>;
    bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
  };
  macro_parens: macro_parens {
    compatible = "zmk,behavior-macro";
    label = "macro_parens";
    #binding-cells = <0>;
    bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
  };
  macro_brackets: macro_brackets {
    compatible = "zmk,behavior-macro";
    label = "macro_brackets";
    #binding-cells = <0>;
    bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
  };
  macro_kinesis: macro_kinesis {
    compatible = "zmk,behavior-macro";
    label = "macro_kinesis";
    #binding-cells = <0>;
    wait-ms = <10>;
    bindings
        = <&kp F &kp A &kp S &kp T>
        , <&macro_wait_time 500>
        , <&kp S &kp L &kp O &kp W>
        ;
  };
  macro_ctrl_alt_del: macro_ctrl_alt_del {
    compatible = "zmk,behavior-macro";
    label = "macro_ctrl_alt_del";
    #binding-cells = <0>;
    bindings 
        = <&macro_press &LCTRL>
        , <&macro_press &LALT>
        , <&macro_tap &kp DEL>
        , <&macro_release &LALT>
        , <&macro_release &LCTRL>
        ;
  };